extends layout
extends nav

block content
	if user
		- var p = cart
		- var a = amount
		- var s = size
		- var total = 0
		- for (var i = 0; i< p.length; i++)
			- var tot = p[i].Price * a[i]
			- total = total +tot
			div(class="heart")
				p= p[i].Name
				p="€ "+ p[i].Price
				p= a[i]
				p= s[i]
				p=" SOM = € "+  tot
			
		span=" TOTAL = € "+ total

		form(action="/order", method="post")
			input(type="hidden" name="total" id="total" value=total)
			button(type="submit" id="OrderCart") Place order!

	script.
		$(document).ready(function(){

			var socket = io.connect('http://localhost:3000');

				var userId = "#{user._id}";
				var cart = !{JSON.stringify(user.cart)}
				console.log(cart);
				var totalPrice = $('#total').val();
				var new_order = {'user': userId, 'order': cart, 'total': totalPrice};
				console.log(new_order);

				$('#OrderCart').on('click', function(){
					socket.emit('NewOrder', new_order);
				});



		});