extends layout
extends nav
extends footer

block content
	div#container
		div#containerinside
			h1.pagehead Order nr. #{orderdetail._id}
			div.table.info
				#left
					h2 Costumer info
					p.bigger #{userdata.firstname} #{userdata.lastname}
				#right
					p.bigger Adres:
					p #{userdata.street} #{userdata.housenr}
					p #{userdata.city}
					p #{userdata.country}
				#clearfix

			table.table
				tr
					th Product
					th Productprice 
					th Amount
					th Price
				- var i = 0;
				- each order in orders
					tr
						td 
							img(class="avatar" src="/uploads/"+order.Picture)
							p.bigger= order.Name
							p= "Size: "+ orderdetail.order[i].Option							
						td
							p= order.Price
						td 
							p= orderdetail.order[i].amount
						td
							-var tot= order.Price * orderdetail.order[i].amount;
							p.bigger= tot
							- i++;
			div#continue
				p.total="TOTAL = € "+  orderdetail.total
				p.status= orderdetail.status

				if user.admin 
					if orderdetail.status != "Shipped"
						button(type="submit" id="changeStatus") Shipped!
				
			div#clearfix

	script.
		$(document).ready(function(){

			var socket = io.connect('http://localhost:3000');

				var orderId = "#{orderdetail._id}";
				

				$('#changeStatus').on('click', function(){
					socket.emit('changeStatus', orderId);
					$(this).attr('disabled','disabled');	
				});

				socket.on('updateStatus', function(res){

				$('.status').text('Shipped');

			});
		});