extends layout
extends nav

block content
	h1 ORDER nr= #{orderdetail._id}
	table
		- var i = 0;
		- each order in orders
			tr
				td 
					img(src="/uploads/"+order.Picture)
				td 
					p= orderdetail.order[i].amount
					
				td 
					h2= order.Name
				td
					p= order.Price
				td
					p= orderdetail.order[i].Option
					- i++;

	p= orderdetail.total
	p.status= orderdetail.status

	if user.admin 
		if orderdetail.status != "Shipped"
			button(type="submit" id="changeStatus") Shipped!
		


	script.
		$(document).ready(function(){

			var socket = io.connect('http://localhost:3000');

				var orderId = "#{orderdetail._id}";
				

				$('#changeStatus').on('click', function(){
					socket.emit('changeStatus', orderId);
					$(this).attr('disabled','disabled');	
				});

				socket.on('updateStatus', function(res){

				$('.status').text('Shipped');

			});
		});